
<!-- <mat-tab-group dynamicHeight>
    <mat-tab label="Long tab">
      <div class="example-large-box">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group> -->


  <mat-toolbar color="primary" style="background-color: black;">
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>


    <mat-toolbar-row style="background-color: blue;">
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      </mat-toolbar-row>