<app-header2></app-header2>
<!-- [formGroup]="Pform" -->
<body>
<mat-grid-list cols="3"  *ngIf="response">
        <mat-grid-tile>
          <img mat-card-image src="{{response.productimage}}" style="margin-left:18%;">
        </mat-grid-tile> 
        <mat-grid-tile >
            <div>
                                      
 <table>  
<tr>             
<b>ProductName:</b> {{response.PRODUCT_NAME}}
</tr>
<tr>  
<b>Price:</b>INR.{{response.PRICE}}
</tr>
<tr>  
<b>Availablity:</b> {{response.STOCK}}
</tr>
<!-- <tr>  
 <b>Productid:</b> {{response.PRODUCT_ID}}
</tr> -->
<tr>
  <label><b>Quantity:</b></label>&nbsp;&nbsp;
    <select  [(ngModel)]="select" >
        <option value="1" >1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5"></option>
      </select>
     
</tr> 
&nbsp;
</table>

<!-- <mat-card-actions> -->
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Add Cart
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" >&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <p>Added Successfully</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="cart()" data-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm" (click)="cart()">Add Cart</button>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content" >
        <p>Added Successfully</p>
        </div>
      </div>
    </div> -->
    
       <!-- <button mat-button (click)="cart()"  id="addbtn" style="border: none;background-color: rgb(3, 3, 3); font-size: 90%"><a  href ="/appaddcart" style="color: cornsilk" >Add to Cart</a></button> -->
      <!-- </mat-card-actions> -->
       &nbsp;&nbsp;
       <!-- <mat-card-actions> -->
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm" (click)="check()">Checkout</button>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  <!-- </mat-card-actions> -->

      <!-- <button type="button" class="btn btn-primary" (click)="check()"  id="checkbtn">Checkout</button> -->

     
            
       
      
    
    </div>  
        </mat-grid-tile>
      </mat-grid-list>
    </body>

      
  <footer class="page-footer font-small">

      
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://jioecommerce.com/"> JioEcommerce.com</a>
    </div>
    <!-- Copyright -->
  
</footer>

      


