<!-- <p>kitchen works!</p> -->
<app-header2></app-header2>
&nbsp;&nbsp;

<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="example-card">
    
            <h4>Washing Machine</h4>
            <img mat-card-image src="./assets/images/washing.jpg" >
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(41)">View details</button>
             
            </mat-card-actions>
          </mat-card> 
          </mat-grid-tile>
          <mat-grid-tile>
        <mat-card class="example-card">
           
            <h4> Smart Television</h4>
            <img mat-card-image src="./assets/images/tv.jpg" style="width: 368px; height:265px;">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(42)">View details</button>
             
            </mat-card-actions>
            
          </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
               
                <h4>Laptop</h4>
                <img mat-card-image src="./assets/images/laptop.jpg" style="width: 368px; height:265px;">
               
                <mat-card-actions>
                  <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(43)" >View details</button>
                 
                </mat-card-actions>
                
              </mat-card> 
            </mat-grid-tile>
        
            <mat-grid-tile>
                <mat-card class="example-card">
                   
                    <h4>Smart Phone</h4>
                    <img mat-card-image src="./assets/images/phone.jpg" style="width: 368px; height:265px;">
                   
                    <mat-card-actions>
                      <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%;" (click)="view(44)">View Details</button>
                     
                    </mat-card-actions>
                    
                  </mat-card> 
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                       
                        <h4>Music System</h4>
                        <img mat-card-image src="./assets/images/music.jpg" style="width: 368px; height:265px;">
                       
                        <mat-card-actions>
                          <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%;" (click)="view(45)">View Details</button>
                         
                        </mat-card-actions>
                        
                      </mat-card> 
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                           
                            <h4>Head Phone</h4>
                            <img mat-card-image src="./assets/images/headphone.jpg" style="width: 368px; height:265px;">
                           
                            <mat-card-actions>
                              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(46)">View Details</button>
                             
                            </mat-card-actions>
                            
                          </mat-card> 
                        </mat-grid-tile>
        </mat-grid-list>
    
  <footer class="page-footer font-small">

      
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://jioecommerce.com/"> JioEcommerce.com</a>
    </div>
    <!-- Copyright -->
  
</footer>

    
            
     
  
      
      


 