<!-- <p>kitchen works!</p> -->
<app-header2></app-header2>
&nbsp;&nbsp;

<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="example-card">
    
            <h4>Peach Jacket</h4>
            <img mat-card-image src="./assets/images/dress.jpg" style="width: 368.66px; height:265.42px;">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(17)">View details</button>
             
            </mat-card-actions>
          </mat-card> 
          </mat-grid-tile>
          <mat-grid-tile>
        <mat-card class="example-card">
           
            <h4>Formal Jacket</h4>
            <img mat-card-image src="./assets/images/formals.jpeg" style="width: 368.66px; height:265.42px;">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(18)">View details</button>
             
            </mat-card-actions>
            
          </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
               
                <h4> Black Jumpsuit</h4>
                <img mat-card-image src="./assets/images/jumpsuit2.jpeg" style="width: 375px; height:268.42px;">
               
                <mat-card-actions>
                  <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(19)" >View details</button>
                 
                </mat-card-actions>
                
              </mat-card> 
            </mat-grid-tile>
        
            <mat-grid-tile>
                <mat-card class="example-card">
                   
                    <h4> Blue Jeans</h4>
                    <img mat-card-image src="./assets/images/jeans.jpg" style="width: 368.66px; height:265.42px;">
                   
                    <mat-card-actions>
                      <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%; " (click)="view(20)">View Details</button>
                     
                    </mat-card-actions>
                    
                  </mat-card> 
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                       
                        <h4>Indian Ethnic</h4>
                        <img mat-card-image src="./assets/images/kurthi9.jpeg" style="width: 368.66px; height:265.42px;">
                       
                        <mat-card-actions>
                          <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%;" (click)="view(21)">View Details</button>
                         
                        </mat-card-actions>
                        
                      </mat-card> 
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                           
                            <h4>Black Top</h4>
                            <img mat-card-image src="./assets/images/tops2.jpg" style="width: 368.66px; height:265.42px;">
                           
                            <mat-card-actions>
                              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(22)">View Details</button>
                             
                            </mat-card-actions>
                            
                          </mat-card> 
                        </mat-grid-tile>
        </mat-grid-list>
    
  <footer class="page-footer font-small">

      
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://jioecommerce.com/"> JioEcommerce.com</a>
    </div>
    <!-- Copyright -->
  
</footer>

    
            
     
  
      
      


 
