<app-header2></app-header2>


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" role="listbox" style="width: 30%;"> 
    
    <div id="carousel-inner active">
      <div class="carousel-item active">
        <a class="overlay"   title=" Hoody"(click)="view1(16)"><img src="./assets/images/casuals1.jpg" class="d-block" style="cursor: pointer;"></a>
      </div>
      <div class="carousel-item ">
        <a  class="overlay" title="SweatShirt" (click)="view1(59)"> <img src="./assets/images/casual2.jpeg" class="d-block " style="cursor: pointer;" ></a>
      </div>
      <div class="carousel-item ">
       <a class="overlay" title="Storage Shelf"  (click)="view1(30)"><img src="./assets/images/fur1.jpeg" class="d-block "  style="width:499px; height:556px;cursor: pointer;"></a> 
      </div>  
    </div>
   
  </div>
  &nbsp;&nbsp;
  <mat-card class="carouselslide">
     <a class="overlay" title="Tote Handbags"  (click)="view1(61)"> <img mat-card-image src="./assets/images/bag1.jpeg" style="cursor: pointer;"></a>
    </mat-card> 
     
          
 
      <div>
        <mat-card class="example-card">
    
   
         <a class="overlay"  title="Sneakers" (click)="view1(62)"><img mat-card-image src="./assets/images/shoe1.jpg" style="cursor: pointer;"></a>
          </mat-card>
        </div> 
        <!-- <ol class="carousel-indicators" style="top: 90%;">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>         -->
&nbsp;&nbsp;
 <footer class="page-footer font-small blue">


  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Jio Ecommerce.com</a>
  </div>


</footer> 

