<!-- <p>kitchen works!</p> -->
<app-header2></app-header2>
&nbsp;&nbsp;

<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="example-card">
    
            <h4>The Hollow Of Fear</h4>
            <img mat-card-image src="./assets/images/book2.jpg" style="width: 368px; height:265px; ">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(35)">View details</button>
             
            </mat-card-actions>
          </mat-card> 
          </mat-grid-tile>
          <mat-grid-tile>
        <mat-card class="example-card">
           
            <h4>Monk Who Sold His Ferrari</h4>
            <img mat-card-image src="./assets/images/monk1.jpg" style="width: 368px; height:265px;">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(36)">View details</button>
             
            </mat-card-actions>
            
          </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
               
                <h4>Wings of Fire</h4>
                <img mat-card-image src="./assets/images/wings.jpg" style="width: 368px; height:265px;">
               
                <mat-card-actions>
                  <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(37)" >View details</button>
                 
                </mat-card-actions>
                
              </mat-card> 
            </mat-grid-tile>
        
            <mat-grid-tile>
                <mat-card class="example-card">
                   
                    <h4>The Blue Umbrella</h4>
                    <img mat-card-image src="./assets/images/blue.jpg" style="width: 368px; height:265px;">
                   
                    <mat-card-actions>
                      <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%; " (click)="view(38)">View Details</button>
                     
                    </mat-card-actions>
                    
                  </mat-card> 
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                       
                        <h4>Life Is What You Make It</h4>
                        <img mat-card-image src="./assets/images/life.jpg" style="width: 368px; height:265px;">
                       
                        <mat-card-actions>
                          <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%;" (click)="view(39)">View Details</button>
                         
                        </mat-card-actions>
                        
                      </mat-card> 
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                           
                            <h4>Unlikely Adventure Of Shergill Sister</h4>
                            <img mat-card-image src="./assets/images/adventure.jpg" style="width: 368px; height:265px;">
                           
                            <mat-card-actions>
                              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(40)">View Details</button>
                             
                            </mat-card-actions>
                            
                          </mat-card> 
                        </mat-grid-tile>
        </mat-grid-list>
    
  <footer class="page-footer font-small">

      
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://jioecommerce.com/"> JioEcommerce.com</a>
    </div>
    <!-- Copyright -->
  
</footer>

    
            
     
  
      
      


 



