<!-- <p>kitchen works!</p> -->
<app-header2></app-header2>
&nbsp;&nbsp;

<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="example-card">
    
            <h4>Dining Linens</h4>
            <img mat-card-image src="./assets/images/dine1.jpg">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(10)">View details</button>
             
            </mat-card-actions>
          </mat-card> 
          </mat-grid-tile>
          
          <mat-grid-tile>
        <mat-card class="example-card">
           
            <h4>Bakeware</h4>
            <img mat-card-image src="./assets/images/bakeware.jpg">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(11)">View details</button>
             
            </mat-card-actions>
            
          </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
               
                <h4>Dining Table</h4>
                <img mat-card-image src="./assets/images/diningtable.jpeg">
               
                <mat-card-actions>
                  <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(12)" >View details</button>
                 
                </mat-card-actions>
                
              </mat-card> 
            </mat-grid-tile>
        
            <mat-grid-tile>
                <mat-card class="example-card">
                   
                    <h4>Crockery</h4>
                    <img mat-card-image src="./assets/images/Crockery.jpg">
                   
                    <mat-card-actions>
                      <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%;" (click)="view(13)">View Details</button>
                     
                    </mat-card-actions>
                    
                  </mat-card> 
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                       
                        <h4>Kitchen Appliance</h4>
                        <img mat-card-image src="./assets/images/fridge.jpeg">
                       
                        <mat-card-actions>
                          <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%;" (click)="view(14)">View Details</button>
                         
                        </mat-card-actions>
                        
                      </mat-card> 
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                           
                            <h4>Food Container</h4>
                            <img mat-card-image src="./assets/images/store1.jpeg">
                           
                            <mat-card-actions>
                              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(15)">View Details</button>
                             
                            </mat-card-actions>
                            
                          </mat-card> 
                        </mat-grid-tile>
        </mat-grid-list>
    
  <footer class="page-footer font-small">

      
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://jioecommerce.com/"> JioEcommerce.com</a>
    </div>
    <!-- Copyright -->
  
</footer>

    
            
     
  
      
      


 