<!-- <p>kitchen works!</p> -->
<app-header2></app-header2>
&nbsp;&nbsp;

<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="example-card">
    
            <h4>Sweatshirt</h4>
            <img mat-card-image src="./assets/images/mcasuals1.jpeg" style="width: 368.66px; height:265.42px;">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(23)">View details</button>
             
            </mat-card-actions>
          </mat-card> 
          </mat-grid-tile>
          <mat-grid-tile>
        <mat-card class="example-card">
           
            <h4>Blazer</h4>
            <img mat-card-image src="./assets/images/formals1.jpg" style="width: 368.66px; height:265.42px;">
           
            <mat-card-actions>
              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(24)">View details</button>
             
            </mat-card-actions>
            
          </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
               
                <h4>Denim Jacket</h4>
                <img mat-card-image src="./assets/images/jackets.jpeg" style="width: 368.66px; height:265.42px;">
               
                <mat-card-actions>
                  <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(25)" >View details</button>
                 
                </mat-card-actions>
                
              </mat-card> 
            </mat-grid-tile>
        
            <mat-grid-tile>
                <mat-card class="example-card">
                   
                    <h4>Trousers</h4>
                    <img mat-card-image src="./assets/images/trou.jpg" style="width: 368.66px; height:265.42px;">
                   
                    <mat-card-actions>
                      <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%; " (click)="view(26)">View Details</button>
                     
                    </mat-card-actions>
                    
                  </mat-card> 
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                       
                        <h4> WhiteT-Shirt</h4>
                        <img mat-card-image src="./assets/images/t-shirt1.jpg" style="width: 368.66px; height:265.42px;">
                       
                        <mat-card-actions>
                          <button mat-button style="background-color:  rgb(185, 174, 248); font-size: 90%;" (click)="view(27)">View Details</button>
                         
                        </mat-card-actions>
                        
                      </mat-card> 
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                           
                            <h4> Denim Jeans</h4>
                            <img mat-card-image src="./assets/images/mjeans1.jpg" style="width: 368.66px; height:265.42px;">
                           
                            <mat-card-actions>
                              <button mat-button style="background-color: rgb(185, 174, 248); font-size: 90%;" (click)="view(28)">View Details</button>
                             
                            </mat-card-actions>
                            
                          </mat-card> 
                        </mat-grid-tile>
        </mat-grid-list>
    
  <footer class="page-footer font-small">

      
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://jioecommerce.com/"> JioEcommerce.com</a>
    </div>
    <!-- Copyright -->
  
</footer>

    
            
     
  
      
      


 

